<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.emrereyhanlioglu.bby">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_bbylogo_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_bbylogo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".info.AboutActivity"
                android:label="Uygulama Hakkında"></activity>
        <activity android:name=".volunteers.HomepageVolActivity"></activity>
        <activity
                android:name=".students.homepage.view.HomepageActivity"
                android:label="@string/title_activity_homepage"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".login.view.LoginActivity"></activity>
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>